/* ==========================================================================
   Custom styles
   ========================================================================== */

/**
 * Define you custome style here.
 * It will be merged with the default style.
 */

 @import url("https://use.typekit.net/dpq4bnc.css");
.main-title{
  font-family: aileron, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.container.right{
  margin-left: 60px;
}

.margin-0{
  margin-right:0;
}

.flex-right {
   display: flex;
   align-items:flex-start;
 }

 $primary-color: #c0a359;
 $light-gray-color: #dad6ce;
 
 .progress-bar-app {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
 }
 
 .progress-step-app {
   text-align: center;
   position: relative;
 
   &:before,
   &:after {
     background-color: $primary-color;
     content: "";
     height: 2px;
     position: absolute;
     z-index: -1;
     top: 20px;
   }
 
   &:after {
     left: 50%;
     width: 100%;
   }
   
   &:last-of-type.is-active:after {
     background-color: $primary-color;
     }
 
   @media screen and (min-width: 640px) {
     &:first-of-type:before {
       right: 50%;
       width: 50%;
     }
   }
 
   @media screen and (max-width: 640px) {
     &:first-of-type:before,
     &:last-of-type:after {
       background-color: white !important;
     }
   }
 
   &:last-of-type:after {
     left: 50%;
     width: 50%;
   }
     
   .step-count-app {
     background-color: $primary-color;
     height: 30px;
     width: 30px;
     margin: 0 auto;
     border-radius: 50%;
     color: white;
     line-height: 30px;
     z-index: 100;
     border: 7px solid white;
     font-size: 0.8rem;
     font-weight: 500;
   }
 
   &.is-active {
     .step-description-app {
       font-weight: 500;
     }
     &:after {
       background-color: $light-gray-color;
     }
       
     ~ .progress-step-app .step-count-app {
       background-color: $light-gray-color;
     }
 
     ~ .progress-step-app:after {
       background-color: $light-gray-color;
     }
   }
 }
 
 .step-description-app {
   font-size: 0.8rem;
 }